<div id="app">
	<div class="grid">
		<div class="row col">
			<img class="image_wrapper" src="/kite.png" alt="Kite" />
			<img class="image_wrapper" src="/kite.png" alt="Kite" />
			<img class="image_wrapper" src="/kite.png" alt="Kite" />
		</div>
		<div class="row col">
			<img class="image_wrapper" src="/kite.png" alt="Kite" />
			<img class="image_wrapper" src="/kite.png" alt="Kite" />
			<img class="image_wrapper" src="/kite.png" alt="Kite" />
		</div>
	</div>

</div>