<div id="app">
	<div class="grid">
		<div class="row col">
			<div class="image"><img class="halo" src="/halo.png" alt="halo" /><img class="kite" src="/kite.png" alt="Kite" /></div>
			<div class="image"><img class="halo" src="/halo.png" alt="halo" /><img class="kite" src="/kite.png" alt="Kite" /></div>
			<div class="image"><img class="halo" src="/halo.png" alt="halo" /><img class="kite" src="/kite.png" alt="Kite" /></div>
		</div>
		<div class="row col">
			<div class="image"><img class="halo" src="/halo.png" alt="halo" /><img class="kite" src="/kite.png" alt="Kite" /></div>
			<div class="image"><img class="halo" src="/halo.png" alt="halo" /><img class="kite" src="/kite.png" alt="Kite" /></div>
			<div class="image"><img class="halo" src="/halo.png" alt="halo" /><img class="kite" src="/kite.png" alt="Kite" /></div>
		</div>
	</div>

</div>